@import 'tailwindcss';

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 30px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5d5d5d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  /* 加上白色邊框 */
  border: 2px solid white;
}

.btn-red {
  color: white;
  background-color: rgb(239 68 68);
  transition: background-color 0.2s;
}
.btn-red:hover {
  background-color: rgb(220 38 38);
}
.btn-red:active {
  background-color: rgb(185 28 28);
}

.btn-blue {
  color: white;
  background-color: rgb(59 130 246);
  transition: background-color 0.2s;
}
.btn-blue:hover {
  background-color: rgb(37 99 235);
}
.btn-blue:active {
  background-color: rgb(29 78 216);
}

.btn-green {
  color: white;
  background-color: rgb(34 197 94);
  transition: background-color 0.2s;
}
.btn-green:hover {
  background-color: rgb(22 163 74);
}
.btn-green:active {
  background-color: rgb(21 128 61);
}

.btn-yellow {
  color: white;
  background-color: rgb(234 179 8);
  transition: background-color 0.2s;
}
.btn-yellow:hover {
  background-color: rgb(202 138 4);
}
.btn-yellow:active {
  background-color: rgb(161 98 7);
}

.btn-black {
  color: white;
  background-color: rgb(36, 36, 36);
  transition: background-color 0.2s;
}
.btn-black:hover {
  background-color: rgb(60, 60, 60);
}
.btn-black:active {
  background-color: rgb(36, 36, 36);
}